.card {
    height: 200px;
    width: 400px;
    border: 1px solid rgb(30, 26, 26);
    background-color: #ccc;
    position: relative;
    padding: 5px;
    margin-top: 20px;
}

.card_description {
    display: flex;
}
.img_des{
    position: absolute;
    width: 50%;
}
.img {
    width: 90%;
    object-fit: contain;
}

.info {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 10%;
    text-align: left;

}
.info > span {
    display: block;
    margin: 5px;
}


.info_title {
    font-weight: 700;
    font-size: 20px;
}
